@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  }
  h1 {
	font-size:  100px;
  }
  h2 {
	font-size:  50px;
  }
  h3 {
	font-size:  20px;
  }
  html,body{
	display: grid;
	height: 100%;
	place-items: center;
	background: #5a5a5c;
  }
  ::selection{
	color: #fff;
	background: #6665ee;
  }
  .skill-bars{
	padding: 25px 30px;
	width: 600px;
	background: #fff;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
	border-radius: 10px;
  }
  .skill-bars .bar{
	margin: 40px 0;
  }
  .skill-bars .bar:first-child{
	margin-top: 0px;
  }
  .skill-bars .bar .info{
	margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
	font-weight: 500;
	font-size: 17px;
	opacity: 0;
	animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
	100%{
	  opacity: 1;
	}
  }
  .skill-bars .bar .progress-line{
	height: 10px;
	width: 100%;
	background: #f0f0f0;
	position: relative;
	transform: scaleX(0);
	transform-origin: left;
	border-radius: 10px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.05),
				0 1px rgba(255,255,255,0.8);
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
	100%{
	  transform: scaleX(1);
	}
  }
  .bar .progress-line span{  
	height: 100%;
	position: absolute;
	left: 0px ;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	background: #6665ee;
	animation: animate 2s 2s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
	width: 90%;
  }
  .bar .progress-line.css span{
	width: 60%;
  }
  .bar .progress-line.python span{
	width: 50%;
  }
  .bar .progress-line.Java span{
		width: 60%;	
  }
  .bar .progress-line.mysql span{
	width: 50%;
  }
  .progress-line span::before{
	position: absolute;
	content: "";
	top: -10px;
	right: 0;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
	position: absolute;
	top: -28px;
	right: 0;
	font-weight: 500;
	background: #000;
	color: #fff;
	padding: 1px 8px;
	font-size: 12px;
	border-radius: 3px;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
	100%{
	  opacity: 2;
	}
  }
  .progress-line.html span::after{
	content: "90%";
  }
  .progress-line.css span::after{
	content: "60%";
  }
  .progress-line.Java span::after{
	content: "60%";
  }
  .progress-line.python span::after{
	content: "50%";
  }
  .progress-line.mysql span::after{
	content: "50%";
  }



  


*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color: rgb(184, 180, 180);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}


}


































































































































































































































































































































































































































